[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% SET search_descs = {
  "noop"           => "---",
  "equals"         => "等于",
  "notequals"      => "不等于",
  "anyexact"       => "等于任何字符串",
  "substring"      => "包含字符串",
  "casesubstring"  => "包含字符串（区分大小写）",
  "notsubstring"   => "不包含字符串",
  "anywordssubstr" => "包含任何字符串",
  "allwordssubstr" => "包含所有字符串",
  "nowordssubstr"  => "不包含任何字符串",
  "regexp"         => "匹配正则表达式",
  "notregexp"      => "与正则表达式不匹配",
  "lessthan"       => "小于",
  "lessthaneq"     => "小于等于",
  "greaterthan"    => "大于",
  "greaterthaneq"  => "大于等于",
  "anywords"       => "包含任何词",
  "allwords"       => "包含所有词",
  "nowords"        => "不包含任何词",
  "changedbefore"  => "在……之前修改",
  "changedafter"   => "在……之后修改",
  "changedfrom"    => "从……修改",
  "changedto"      => "修改为……",
  "changedby"      => "被……修改",
  "matches"        => "匹配",
  "notmatches"     => "不匹配",
  "isempty"        => "为空",
  "isnotempty"     => "非空",
  "isactive"       => "活跃",
  "isnotactive"    => "不活跃",
} %]

[% field_types = { ${constants.FIELD_TYPE_UNKNOWN}       => "未知类型",
                   ${constants.FIELD_TYPE_FREETEXT}      => "文本框",
                   ${constants.FIELD_TYPE_INTEGER}       => "整数",
                   ${constants.FIELD_TYPE_SINGLE_SELECT} => "下拉框",
                   ${constants.FIELD_TYPE_MULTI_SELECT}  => "多选框",
                   ${constants.FIELD_TYPE_TEXTAREA}      => "多行文本框",
                   ${constants.FIELD_TYPE_DATETIME}      => "日期和时间",
                   ${constants.FIELD_TYPE_DATE}          => "日期",
                   ${constants.FIELD_TYPE_BUG_ID}        => "$terms.Bug编号",
                } %]

[% IF in_template_var %]
  [% PROCESS "global/value-descs.none.tmpl" %]
  [% SET vars.value_descs = value_descs %]
  [% SET vars.terms = terms %]

  [%# field_descs is loaded as a global template variable and cached
    # across all templates--see VARIABLES in Bugzilla/Template.pm.
    #%]
  [% vars.field_descs = {
    "[Bug creation]"          => "[$terms.Bug creation]",
     "actual_time"             => "实际时间",
     "alias"                   => "别名",
     "assigned_to"             => "分配者",
     "assigned_to_realname"    => "分配者真名",
     "attach_data.thedata"     => "附件资料",
     "attachments.description" => "附件描述",
     "attachments.filename"    => "附件文件名",
     "attachments.mimetype"    => "附件MIME类型",
     "attachments.ispatch"     => "补丁附件",
     "attachments.isobsolete"  => "附件已过时",
     "attachments.isprivate"   => "私密附件",
     "attachments.submitter"   => "附件提交者",
     "blocked"                 => "阻止",
     "bug_file_loc"            => "URL",
     "bug_group"               => "群组",
     "bug_id"                  => "$terms.Bug编号",
     "bug_severity"            => "严重性",
     "bug_status"              => "状态",
     "changeddate"             => "修改日期",
     "cc"                      => "抄送",
     "classification"          => "分类",
     "cclist_accessible"       => "可用的抄送列表",
     "commenter"               => "评论者",
     "component_id"            => "组件编号",
     "component"               => "组件",
     "content"                 => "内容",
     "creation_ts"             => "创建日期",
     "days_elapsed"            => "距上次更改的天数",
     "deadline"                => "截止日期",
     "delta_ts"                => "已修改",
     "dependson"               => "基于",
     "dup_id"                  => "副本",
     "estimated_time"          => "最初预估时间",
     "everconfirmed"           => "已确认",
     "flagtypes.name"          => "重点标记",
     "keywords"                => "关键词",
     "last_visit_ts"           => "最后访问",
     "longdesc"                => "评论",
     "longdescs.count"         => "评论数",
     "longdescs.isprivate"     => "私密评论",
     "newcc"                   => "抄送",
     "op_sys"                  => "操作系统",
     "opendate"                => "开放日期",
     "owner_idle_time"         => "已处理时间",
     "percentage_complete"     => "完成百分比",
     "priority"                => "优先度",
     "product_id"              => "项目编号",
     "product"                 => "项目",
     "qa_contact"              => "QA负责人",
     "qa_contact_realname"     => "QA负责人真名",
     "remaining_time"          => "剩余时间",
     "rep_platform"            => "硬件",
     "reporter"                => "反馈者",
     "reporter_accessible"     => "可访问的反馈者",
     "reporter_realname"       => "反馈者真名",
     "requestees.login_name"   => "重点标记要求者",
     "resolution"              => "解决方案",
     "see_also"                => "也见",
     "setters.login_name"      => "重点标记者",
     "setting"                 => "设置",
     "settings"                => "设置",
     "short_desc"              => "摘要",
     "short_short_desc"        => "摘要",
     "status_whiteboard"       => "白板",
     "tag"                     => "标签",
     "target_milestone"        => "目标里程碑",
     "version"                 => "版本",
     "work_time"               => "已工作时间",
  } %]

  [%# Also include any custom fields or fields which don't have a
      Description here, by copying their Description from the
      database. If you want to override this for your language
      or your installation, just use a hook. %]
  [% UNLESS Param('shutdownhtml') %]
    [% FOREACH bz_field = bug_fields.values %]
      [% SET vars.field_descs.${bz_field.name} = bz_field.description
         IF !vars.field_descs.${bz_field.name}.defined %]
    [% END %]
  [% END %]

  [% PROCESS "bug/field-help.none.tmpl" %]
[% END %]

[% Hook.process("end") %]
