[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% SET reason_descs = {
  ${constants.REL_ASSIGNEE} => "您是此${terms.bug}的分配者。",
  ${constants.REL_REPORTER} => "你报告了此${terms.bug}。",
  ${constants.REL_QA}       => "您是此${terms.bug}的QA负责人。",
  ${constants.REL_CC}       => "你在${terms.bug}的抄送列表中。",
  ${constants.REL_GLOBAL_WATCHER} => "您正在关注所有$terms.bug更改。",
} %]

[% SET watch_reason_descs => {
  ${constants.REL_ASSIGNEE} =>
    "您正在关注该${terms.bug}的分配者。",
  ${constants.REL_REPORTER} =>
    "您正在关注该${terms.bug}的报告者。",
  ${constants.REL_QA}       =>
    "您正在关注该${terms.bug}的QA负责人。",
  ${constants.REL_CC}       =>
    "您正在关注该${terms.bug}抄送列表中的某人。",
} %]

[% Hook.process('end') %]
